<ion-view view-title="<div class='h1 title'>Geral</div>">
  <ion-content>
    <ion-list>
    <ion-item class="item-icon-left item-icon-right" ng-href="#/tab/changepassword">
    <i class="icon ion-locked"></i>
	<span class="text-royal">Alterar Senha</span>
	<i class="icon ion-ios-arrow-right"></i>
    </ion-item>
  	<ion-item class="item-icon-left item-icon-right" ng-href="#/tab/suportechat">
  	<i class="icon ion-chatbubbles"></i>
  	<span class="text-royal">Chat Suporte</span>
  	<i class="icon ion-ios-arrow-right"></i>
  	</ion-item>

    <ion-item class="item-icon-left item-icon-right" ng-click="logout()">
    <i class="icon ion-power"></i>
    <span class="text-royal">Sair</span>
    <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
