<ion-view view-title="<div class='h1 title'>Indicações realizadas</div>" ng-init="getIndications()">
   <ion-content class="padding">
   <ion-list class="list">
   <ion-item ng-show="msgNoIndica">
    Você não realizou indicacções
   </ion-item>
		<ion-item class="item-remove-animate item-avatar" ng-repeat="indicacao in indicacoes">
			
		<img ng-src="img/status/{{indicacao.status}}.png">
        <h2>{{indicacao.nome_indicado}}</h2>
        <p>{{setDate(indicacao.created_at) | date: 'dd/MM/yyyy HH:mm'}} <i class="icon icon-left {{getIconIndicationType(indicacao.tipo_indicacao)}}"></i></p>
			
		</ion-item>
   </ion-list>
  </ion-content>
</ion-view>