<ion-view view-title="<div class='h1 title'>Extrato Mensal</div>" ng-init="getExtrato()">
   <ion-content class="padding">
   <ion-list>
   <ion-item ng-show="msgNoExtrato">
    Você não realizou transações
   </ion-item>
		<ion-item class="item-remove-animate item-icon-left" ng-repeat="ext in extrato">
			
		    <i class="icon ion-plus-round"></i>
        <h2>R$ {{getIconExtratoType(ext.tipo_entrada)}}{{ext.valor}}</h2>
        <p>{{setDate(ext.created_at) | date: 'dd/MM/yyyy HH:mm'}} </p>
			
		</ion-item>
   </ion-list>
  </ion-content>
</ion-view>