<ion-view view-title="<div class='h1 title'>Indicar Pessoas</div>">
   <ion-content class="padding">
    <form ng-submit="enviarIndicacaoInquilino()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome" ng-model="indicacaoData.nome_indicado">
        </label>
         <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="indicacaoData.email_indicado">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Telefone</span>
          <input type="tel" placeholder="Telefone" ng-model="indicacaoData.fone_1" mask="(99) 99999-9999" clean="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Telefone Alternativo</span>
          <input type="tel" placeholder="Telefone Alternativo" ng-model="indicacaoData.fone_2" mask="(99) 99999-9999" clean="true">
        </label>
        <label class="item item-floating-label">
          <span class="input-label">Orientações adicionais</span>

          <textarea placeholder="Orientações adicionais" style="max-width: 100%; min-width:100%; min-height: 130px; max-height: 130px;" ng-model="indicacaoData.observacoes"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Enviar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>