<ion-view view-title="<div class='h1 title'>Cadastrar</div>">
   <ion-content class="padding">
    <form ng-submit="enviarCadastro()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome Completo</span>
          <input type="text" placeholder="Nome Completo" ng-model="userData.nome_completo">
        </label>
         <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="E-mail" ng-model="userData.email">
        </label>
        
        <label class="item item-input item-floating-label">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Senha" ng-model="userData.senha">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Telefone 1</span>
          <input type="tel" placeholder="Telefone 1" ng-model="userData.fone_1" mask="(99) 99999-9999" clean="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Telefone 2</span>
          <input type="tel" placeholder="Telefone 2" ng-model="userData.fone_2" mask="(99) 99999-9999" clean="true">
        </label>
        <div class="item">
          <a class="button block button-balanced" href="https://d335luupugsy2.cloudfront.net/cms%2Ffiles%2F10668%2F1468357294REGULAMENTO+OFICIAL+SEU+AMIGO+VALE+OURO+2016.pdf" target="_blank">Termos de Uso</a>
        </div>
        <div class="item item-checkbox item-text-wrap">
          <label class="checkbox">
            <input type="checkbox" ng-model="userData.termos">
          </label>
          <span>Declaro que eu li e concordo com os termos de uso.</span>
        </div>        
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="!userData.termos">Enviar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>