<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!--ionic-material-->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ng-scroll-glue/dist/ng-scroll-glue.js"></script>
    <script src="lib/ng-scroll-glue/dist/ng-scroll-glue.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
        
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    
    <script src='lib/ngMask/dist/ngMask.min.js'></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <!-- your app's js -->
    <script src="app/app.js"></script>
  
    <script src="app/controllers.js"></script>
    <script src="app/deslogado/login/login.controller.js"></script>
    <script src="app/deslogado/cadastrar/cadastrar.controller.js"></script>
    <script src="app/deslogado/remember/remember.controller.js"></script>


    <script src="app/logado/dashboard/dashboard.controller.js"></script>
    <script src="app/logado/dashboard/extrato/extrato.controller.js"></script>
    <script src="app/logado/dashboard/indicacoesrealizadas/indicacoesrealizadas.controller.js"></script>
    <script src="app/logado/dashboard/solicitarpagamentos/solicitarpagamentos.controller.js"></script>


  
    <script src="app/logado/indicacoes/imovel/imovel.controller.js"></script>
    <script src="app/logado/indicacoes/inquilino/inquilino.controller.js"></script>

  
    <script src="app/logado/dados/account.controller.js"></script>
    <script src="app/logado/dados/changepassword/changepassword.controller.js"></script>
    <script src="app/logado/dados/suportechat/suportechat.controller.js"></script>


    <script src="app/services.js"></script>
  </head>
  <body ng-app="zampieri">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-header bar-positive dark-blue-bg" ng-controller="tab" ng-init="changeButtonStatus()">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right"> 
          <button class="button button-icon ion-navicon-round" ng-hide="logado" ng-click="openPopover($event)">
            <span class="badge badge-assertive header-badge" ng-hide="noti"></span>
          </button>        
      </ion-nav-buttons>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>
