<ion-view view-title="<div class='h1 title'>Suporte Chat</div>" ng-init="getMsgs()">
  <ion-content class="height" scroll-glue="!empty" scroll="false">
    <div class="padding">  
      <div ng-repeat="chat in chatmsgs | orderBy: 'created_at'" class="block"><p class="card padding" ng-class="getNome(chat.tipo_user)"> {{getNome(chat.tipo_user)}}: {{chat.msg}} </p>
      </div>
    </div>
  </ion-content>
  <form ng-submit="enviarMsg()">       
    <div class="item item-input item-input-inset bottom">
      <textarea ng-model="chat.msg" placeholder="Mensagem" class="rd-border padding no-resize"></textarea>
      <button class="button button-fab button-balanced ion-android-send" type="submit"></button>
    </div>
  </form>
</ion-view>