<ion-popover-view>
	<ion-header-bar>
	  <h1 class="title">Notificações</h1>
	</ion-header-bar>
	<ion-content >
	<ion-item class="item-text-wrap text-center" ng-show="dataLogin.msgpush==false">
	  Seja Bem vindo! Aqui será onde você receberá notificações de crédito em seu saldo ou depósitos em sua conta
	</ion-item>
	<div class="list">
		<div class="item item-text-wrap item-icon-left" ng-repeat="noti in dataLogin.msgpush | orderBy: '-created_at' | limitTo: 10">
			<i class="icon ion-plus-circled"></i>

			<span>R${{noti.valor_pagamento}},00 {{msgNoti(noti.tipo_data)}}</span>
		</div>
	</div>
	</ion-content>
</ion-popover-view>
