<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Conta" icon-off="ion-social-usd-outline" icon-on="ion-social-usd" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Indicar" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/indicar">
    <ion-nav-view name="tab-indicar"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Geral" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>



</ion-tabs>
