
<ion-view view-title="<div class='h1 title'>Login</div>" class="backLogin" hide-nav-bar="true">
  <ion-content style="margin-top:40px">

    <div class="item item-image" style="width: 250px; margin: 10px auto; border: none;">    
      <img src="img/logo-branca.png">    
    </div>
    <form ng-submit="doLogin()">
      <div class="list list-inset noBg">
        <label class="item item-input item-floating-label">
          <span class="input-label text-light">E-mail</span>
          <input type="email" class="place-color text-light" placeholder="E-mail" ng-model="loginData.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label text-light">Senha</span>
          <input type="password" class="place-color text-light" placeholder="Senha" ng-model="loginData.senha">
        </label>
        <label class="item item-checkbox text-light">
          <label class="checkbox"><input type="checkbox" ng-model="loginData.remember"></label>Lembrar Senha
        </label>
       </div>
      <label class="item mgn">
          <button class="button button-block button-light" type="submit">Entrar</button>
        </label>
    </form>
    <label class="item mgn">
          <button class="button button-block button-energized golden-bg" ng-click="doCadastro()">Cadastrar</button>
        </label>
    <label class="item item-text-wrap" style="text-align: center; color: #fff;">
     <label ng-click="doRemember()" style="cursor: pointer;">Esqueci minha senha</label>
   </label>
    <div class="item item-image" style="width: 190px; margin: 20px auto 0 auto; border: none;">    
      <img src="img/zamp-completa.png">    
    </div>
 </ion-content>
</ion-view>
