<ion-view view-title="<div class='h1 title'>Solicitar Pagamentos</div>">
   <ion-content class="padding">
    <form ng-submit="enviarSolicicataoPagamento()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Valor</span>
          <input type="tel" placeholder="Valor" ng-model="solicitacao.valor_pagamento" clean="true" mask="R$ 9999"> 
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Agência</span>
          <input type="tel" placeholder="Agência" ng-model="solicitacao.numero_agencia"> 
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Conta</span>
          <input type="number" placeholder="Conta" ng-model="solicitacao.numero_conta"> 
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome do banco</span>
          <input type="text" placeholder="Nome do banco" ng-model="solicitacao.nome_banco"> 
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">CPF</span>
          <input type="tel" placeholder="CPF" ng-model="solicitacao.cpf" mask="999.999.999-99" clean="true">
        </label>
             
       <label class="item item-input item-floating-label">
          <span class="input-label">Senha do Aplicativo</span>
          <input type="password" placeholder="Senha do Aplicativo" ng-model="solicitacao.senha"> 
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Solicitar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>