<ion-view view-title="<div class='h1 title'>Zampieri Imoveis</div>" ng-init="getInfos()">
  <ion-content> 
    <div class="item text-center">
      <h2 class="text-royal">Saldo atual</h2>
      <h1 class="text-royal">R${{saldo}},00</h1>
      <h2 class="text-royal">{{dataLogin.usuario.nome_completo}}</h2>
      <ul class="list card-inicio">
        <li class="item border border-royal text-royal">Imóveis Indicados
          <span class="badge text-royal">{{infos.imoveis}}</span>
        </li>
        <li class="item text-royal">Inquilinos Indicados
          <span class="badge text-royal">{{infos.inquilinos}}</span>
        </li>
         
      </ul>
      <a class="button button-positive radius" href="#/tab/extrato">Extrato</a>
    </div>
    <ion-list class="padding">
      <ion-item class="item-divider border border-gray">
      <span class="text-royal">Suas Ações</span>
      </ion-item>      
      <ion-item class="item-icon-right border border-gray" href="#/tab/indicacoesrealizadas">
        <span class="text-royal">Indicações realizadas</span>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/tab/solicitarpagamentos">
        <span class="text-royal">Solicitar Pagamento</span>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
