<ion-view view-title="<div class='h1 title'>Indicar Imovel</div>">
   <ion-content class="padding">
   <div class="card">
    <ion-item class="item-divider">
        <p>Dados do proprietário</p>
      </ion-item>
      <form ng-submit="enviarIndicacaoImovel()">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nome do Proprietário</span>
            <input type="text" placeholder="Nome do Proprietário" ng-model="indicacaoData.nome_indicado">
          </label>
           <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="E-mail" ng-model="indicacaoData.email_indicado">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Telefone</span>
            <input type="tel" placeholder="Telefone" ng-model="indicacaoData.fone_1" mask="(99) 99999-9999" clean="true">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Telefone Alternativo</span>
            <input type="tel" placeholder="Telefone Alternativo" ng-model="indicacaoData.fone_2" mask="(99) 99999-9999" clean="true">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Endereço do imóvel</span>
            <input type="text" placeholder="Endereço do imóvel" ng-model="indicacaoData.endereco">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">CEP</span>
            <input type="tel" placeholder="CEP" ng-model="indicacaoData.cep" mask="99999-999">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Bairro</span>
            <input type="text" placeholder="Bairro" ng-model="indicacaoData.bairro">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Número</span>
            <input type="tel" placeholder="Número" ng-model="indicacaoData.numero">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Complemento</span>
            <input type="text" placeholder="Complemento" ng-model="indicacaoData.complemento">
          </label>

          <label class="item item-floating-label">
            <span class="input-label">Orientações adicionais</span>

            <textarea placeholder="Orientações adicionais" style="max-width: 100%; min-width:100%; min-height: 130px; max-height: 130px;" ng-model="indicacaoData.observacoes"></textarea>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Enviar</button>
          </label>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>