
<ion-view view-title="<div class='h1 title'>Nova senha</div>" class="backLogin">
  <ion-header-bar>
    <h1 class="title">Nova senha</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content style="margin-top:100px">
    
    <form ng-submit="newPassword()">
      <div class="list list-inset noBg">
        <label class="item item-input item-floating-label">
          <span class="input-label text-light">Senha antiga:</span>
          <input type="password" placeholder="Senha antiga" class="place-color text-light" ng-model="passwordData.senha_old">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label text-light">Nova senha:</span>
          <input type="password" placeholder="Nova senha" class="place-color text-light" ng-model="passwordData.senha_new">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label text-light">Confirmar senha:</span>
          <input type="password" placeholder="Confirmar senha" class="place-color text-light" ng-model="passwordData.senha_new2">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Enviar</button>
        </label>
      </div>
    </form>

  </ion-content>
</ion-view>
