<ion-view view-title="<div class='h1 title title-center'>Indicar</div>">
  <ion-content class="item item-stable" style="height: 100%;">
    <div class="item item-image" style="width: 150px; margin: 15px auto;">    
      <img src="img/Z.png">    
    </div>
    <div class="item item-text-wrap textCenter">
      <h1 class="text-royal">Indicar</h1>
      <h2 class="text-royal">Seu amigo Vale ouro</h2><br>
      <h3 class="text-royal">Ganhe R$20.00 para cada imóvel indicado com o contrato de administração assinado e quando alugarmos você ganha 10% do primeiro aluguel.</h3>
    </div>
    <div class="card" >
      <ion-item class="item-divider">
        <p class="text-royal">O que você quer indicar?</p>
      </ion-item>
      <ion-list>
        <a class="item item-icon-left item-icon-right" href="#/tab/imovel">
        <i class="icon ion-home"></i>
        <span class="text-royal">Indicar Imóvel</span>
        <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/tab/inquilino">
        <i class="icon ion-person"></i>
        <span class="text-royal">Indicar Pessoas</span>
        <i class="icon ion-ios-arrow-right"></i>
        </a>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
