/* Empty. Add your own CSS if you like */
.backLogin{
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.card-inicio{
	border-top: 2px solid #005a83;
	border-bottom: 2px solid #005a83;
	margin-top:30px;
}
.marginCenter{
	display: block;
	margin: 0 auto !important;
}
.border{
	border-bottom: 1px solid !important;
}
.border-royal{
	border-color: #005a83 !important;
}
.border-gray{
	border-color: #888888 !important;
}
.radius{
	border-radius: 25px;
	padding: 0px 100px !important;
}
.mgn{
	padding-bottom: 0 !important;
}
.item{
	border: none;
}
.textCenter{
	text-align: center;
}
.text-light{
	color: #fff !important;
}
.text-royal{
	color: #005a83 !important;
}
.text-calm{
	color: #009be0 !important;
}
.place-color::-webkit-input-placeholder {
   color: #fff;
}
.place-calm::-webkit-input-placeholder {
   color: #009be0;
}
.noBg{
	background: none !important;
	border-left: none !important;
}
.rd-border{
	border: 1px solid #cecece;
	border-radius:  20px;
}
.bottom{
	position: absolute !important;
	bottom: 50px; 
}
.height{
	height: 69% !important;
	overflow-y: scroll;
}
.no-resize{
	resize: none;
}
.Eu{
	text-align: right;
	background-color: #886aea;
	max-width: 70% !important;
	float: right;
	color: #fff;
}
.Suporte{
	max-width: 70% !important;
	float: left;
	text-align: left;
	background-color: #f8f8f8;
}
.block{
	display: block;
	width: 100%;
}
.previous-title{
	display: none !important;
}
.golden-bg{
	background-color: #cc9900 !important; 
}
.dark-blue-bg{
	background-color: #001324 !important;
}
.header-badge{
	position: absolute !important;
	top: 5px !important;
	left: 35px !important;
	font-size: 8pt !important;
	width: 9px;
	height: 16px;
	pointer-events: none;
}
