
<ion-view view-title="<div class='h1 title'>Esqueci minha senha</div>" class="backLogin">
  <ion-header-bar>
    <h1 class="title">Esqueci minha senha</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content style="margin-top:100px">
    <div class="item item-image" style="width: 250px; margin: auto; border: none;">    
      <img src="img/logo-branca.png">    
    </div>
    <form ng-submit="enviarRemember()">
      <div class="list list-inset noBg">
        <label class="item item-input item-floating-label">
          <span class="input-label text-light">E-mail</span>
          <input type="email" placeholder="E-mail" class="text-light place-color" ng-model="loginData.email">
        </label>
        
        <label class="item">
          <button class="button button-block" type="submit">Enviar</button>
        </label>
      </div>
    </form>

  </ion-content>
</ion-view>
